<div class="form-group">
  <label for="txtGoal">Goal</label>: 
  <input class="form-control" id="txtGoal" type="text" [(ngModel)]="testGoal.goal"  />
</div>

<div class="form-group">
    <label for="txtCost">Cost</label>: 
    <input class="form-control" id="txtCost" type="text" [(ngModel)]="testGoal.cost" />
  </div>

  <div class="form-group">
      <label for="txtGoal">Description</label>: 
      <textarea class="form-control" id="txtDescription" [(ngModel)]="testGoal.description">
      </textarea>
    </div>
    <div class="form-group">
        <label for="txtGoal">Commit</label>: 
        <button class="form-control btn btn-success" id="btnCommit">OK</button>
      </div>