<div *ngIf="goals">
  <table class="table">
    <thead>
      <th scope="col">Cost</th>
      <th scope="col">Goal</th>
      <th scope="col">Description</th>
      <th scope="col">Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let goal of goals">
      <td>{{goal.cost}}</td>
      <td>{{goal.description}}</td>
      <td>{{goal.goal}}</td>
      <td><button class="btn btn-primary" value="Edit">Edit</button></td>
    </tr>
  </tbody>
  </table>
</div>
<div *ngIf="!goals || goals.length == 0">
  You haven't added any goals yet!
</div>
